 * {
     margin: 0;
     padding: 0;
     --webkit-box-sixing: border-box;
     --moz-box-sizing: boder-box;
     box-sizing: border-box;
 }

 body {
     background: url(images/bg.jpg) #000;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     /* margin: auto; */
     color: #fff;
     font-size: 16px;
 }

 .wrap {
     width: 100%;
 }

 .widget {
     width: 50%;
     margin: 2em;
     margin: auto auto;
     /* margin: 32px; */
 }

 .widget p {
     display: inline-block;
     line-height: 1em;
 }

 .fecha {
     font-family: Oswald, Arial;
     text-align: center;
     font-size: 1.5em;
     margin-bottom: 0.3125rem;
     /* margin-bottom: 5px; */
     background: rgba(0, 0, 0, .5);
     padding: 20px;
     width: 100%;
 }

 .reloj {
     font-family: Oswald, Arial;
     width: 100%;
     padding: 20px;
     font-size: 4em;
     text-align: center;
     background: rgba(0, 0, 0, .5);
 }

 .reloj .caja-segundos {
     display: inline-block;
 }

 .reloj .segundos,
 .reloj .ampm {
     font-size: 2rem;
     display: block;
 }

 @media (max-width: 512px) {
     body {
         display: block;
     }

     .widget {
         width: 90%;
         margin-top: 2em;
     }
 }